<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
   <title>해수욕장별 수질 조사</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages': ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var selectedBeachName = "곽지"; // 초기 선택값 설정
      var csrfToken = /*[[${_csrf.token}]]*/ ''; // CSRF 토큰 가져오기

      function drawChart() { // 초기 그래프, default는 ㄱㄴㄷ 순서 1번 곽지 해수욕장
         var chartDataJson = /*[[${chartData}]]*/ '[]'; // 서버에서 전달된 JSON 형식의 문자열
         
         // JSON 문자열을 JavaScript 객체로 파싱
         var chartData = JSON.parse(chartDataJson);

         if (chartData && chartData.length > 0) {
            try {
               drawGraph(chartData)
            } catch (error) {
               console.error('Error drawing chart:', error);
            }
         } else {
            console.error('Received undefined or empty JSON data');
         }
      }

      function updateChart() {
         selectedBeachName = document.getElementById('beachSelect').value; // 선택된 해수욕장 이름 업데이트

         // AJAX POST 요청을 보냅니다.
         $.ajax({
            type: "POST", // HTTP 요청 방식 (POST)
            url: "/beach/select", // 서버 측 API 엔드포인트 URL
            contentType: "application/json", // 요청의 Content-Type 설정
            data: JSON.stringify(selectedBeachName), // 서버로 전송할 데이터를 JSON 문자열로 변환
            dataType: "json", // 서버에서 받을 데이터 타입 설정
            beforeSend: function (xhr) {
               xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken); // CSRF 토큰을 헤더에 포함
            },
            success: function (response) {// 요청이 성공했을 때 호출될 콜백 함수
               if (response && response.length > 0) {
                  drawGraph(response); // 서버에서 받아온 데이터를 가지고 차트를 업데이트하는 함수 호출
                  updateSelectedBeachName(selectedBeachName);// 선택된 해수욕장 이름 업데이트
               } else {
                  showErrorMessage("해당 해수욕장에 대한 데이터가 없습니다.");
               }
            },
            error: function (error) {// 요청이 실패했을 때 호출될 콜백 함수
               console.error("Error fetching data:", error);
               showErrorMessage("서버에서 오류가 발생했습니다. 잠시 후 다시 시도해주세요.");
            }
         });
      }

      function drawGraph(chartData) {
         try {
            var data = google.visualization.arrayToDataTable(chartData);

            var options = {
               title: '해수욕장별 수질 조사',
               legend: {position: 'bottom'}
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart'));

            chart.draw(data, options);
         } catch (error) {
            console.error('Error drawing chart:', error);
         }
      }

      function updateSelectedBeachName(selectedBeach) {
         document.getElementById('selectedBeachName').textContent = selectedBeach; // 선택된 해수욕장 이름을 업데이트하는 부분
      }

      function showErrorMessage(message) {
         alert(message); // 경고창을 통해 메시지를 보여줍니다.
      }
   </script>
   <style>
      .controls {
         display: flex;
         align-items: center;
         gap: 10px;
         margin-bottom: 10px;
      }
   </style>
</head>

<body>
   <div layout:fragment="content">

      <div class="controls">
         <label for="beachSelect">해수욕장 선택:</label>
         <select id="beachSelect">
            <option value="곽지">곽지</option>
            <option value="금능">금능</option>
            <option value="김녕">김녕</option>
            <option value="사계">사계</option>
            <option value="삼양">삼양</option>
            <option value="세화">세화</option>
            <option value="소금막">소금막</option>
            <option value="쇠소깍">쇠소깍</option>
            <option value="신양섭지">신양섭지</option>
            <option value="월정">월정</option>
            <option value="이호테우">이호테우</option>
            <option value="중문색달">중문색달</option>
            <option value="평대">평대</option>
            <option value="표선">표선</option>
            <option value="하도">하도</option>
            <option value="함덕">함덕</option>
            <option value="협재">협재</option>
            <option value="화순금모래">화순금모래</option>
         </select>
         <button onclick="updateChart()">검색</button>
      </div>

      <div>
         <p>선택된 해수욕장: <span id="selectedBeachName">곽지</span></p>
      </div>
      <div id="chart" style="width: 900px; height: 500px"></div>

   </div>
</body>

</html>