<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>글 작성</title>
	<link rel="stylesheet" type="text/css" th:href="@{/form.css}">
</head>

<body>
	<div layout:fragment="content">
		<div class="container my-3">
			<form th:object="${postForm}" th:action="@{/post/create}" method="post" enctype="multipart/form-data"
				class="custom-form" onsubmit="return validateForm()">
				<p style="text-align: center;">이미지를 넣어주세요 (20MB 이하만 가능)</p>
				<div class="mb-3" id="imagePathWrapper">
					<label for="imagePath" class="form-label" style="display: none;">이미지 파일</label>
					<input type="hidden" th:field="*{imagePath}" id="savedImagePath" name="imagePath"
						th:value="${postForm.imagePath}"> <!-- 이미지 경로를 숨김 필드에 저장 -->
					<input th:field="*{imageFile}" type="file" class="form-control" id="imagePath" name="imageFile"
						onchange="previewImage(event)">
					<img id="imagePreview" class="thumbnail" th:if="${postForm.imagePath != null}"
						th:src="@{'/uploads/' + ${postForm.imagePath}}" alt="이미지 미리 보기">
					<img id="imagePreview" th:unless="${postForm.imagePath != null}" src="#" style="display: none;">
				</div>
				<div class="mb-3 form-group">
					<label for="location" class="form-label">위치 정보</label>
					<select th:field="*{location}" class="form-select" id="location" name="location">
						<option value="">선택하세요.</option>
						<option value="곽지" th:selected="${postForm.location == '곽지'}">곽지</option>
						<option value="금능" th:selected="${postForm.location == '금능'}">금능</option>
						<option value="김녕" th:selected="${postForm.location == '김녕'}">김녕</option>
						<option value="사계" th:selected="${postForm.location == '사계'}">사계</option>
						<option value="삼양" th:selected="${postForm.location == '삼양'}">삼양</option>
						<option value="세화" th:selected="${postForm.location == '세화'}">세화</option>
						<option value="소금막" th:selected="${postForm.location == '소금막'}">소금막</option>
						<option value="쇠소깍" th:selected="${postForm.location == '쇠소깍'}">쇠소깍</option>
						<option value="신양섭지" th:selected="${postForm.location == '신양섭지'}">신양섭지</option>
						<option value="월정" th:selected="${postForm.location == '월정'}">월정</option>
						<option value="이호테우" th:selected="${postForm.location == '이호테우'}">이호테우</option>
						<option value="중문색달" th:selected="${postForm.location == '중문색달'}">중문색달</option>
						<option value="평대" th:selected="${postForm.location == '평대'}">평대</option>
						<option value="표선" th:selected="${postForm.location == '표선'}">표선</option>
						<option value="하도" th:selected="${postForm.location == '하도'}">하도</option>
						<option value="함덕" th:selected="${postForm.location == '함덕'}">함덕</option>
						<option value="협재" th:selected="${postForm.location == '협재'}">협재</option>
						<option value="화순금모래" th:selected="${postForm.location == '화순금모래'}">화순금모래</option>
					</select>
				</div>
				<div class="mb-3 form-group">
					<label for="content" class="form-label">글 내용</label>
					<textarea th:field="*{content}" class="form-control" id="content" name="content" rows="5"
						maxlength="105" oninput="checkLength()" placeholder="100자 이내로 작성해주세요."></textarea>
					<div id="lengthMessage" style="color: red;"></div>
				</div>
				<div class="btn-container">
					<button class="btn" style="height: 40px; background-color: transparent; border: 2px solid #17a2b8;">
						<a th:href="@{/community}" class="text-dark" style="text-decoration: none;">목록으로</a>
					</button>
					<button type="submit" id="submitBtn" class="btn btn-primary" style="width: 92px;">저장</button>
				</div>
			</form>
		</div>

		<script>
			function previewImage(event) {
				var input = event.target;
				var reader = new FileReader();
				var imagePreview = document.getElementById("imagePreview");

				reader.onload = function () {
					if (imagePreview) {
						imagePreview.src = reader.result;
						imagePreview.style.display = "block";
					}
				};

				if (input.files && input.files[0]) {
					reader.readAsDataURL(input.files[0]);
				}
			}

			function validateForm() {
				var imageFile = document.getElementById('imagePath');
				var thumbnail = document.getElementsByClassName('thumbnail');
				var location = document.getElementById('location').value;
				var content = document.getElementById('content').value.trim();

				if (imageFile.value.trim() === '') {
					alert("이미지 파일을 선택해주세요.");
					return false;
				} else if (imageFile.files.length === 0) {
					if (thumbnail.length === 0 || thumbnail[0].src === '#' || thumbnail[0].src === '') {
						alert("이미지 파일을 선택해주세요.");
						return false;
					}
				}

				if (location === '') {
					alert("위치를 선택해주세요.");
					return false;
				}

				if (content === '') {
					alert("내용을 입력해주세요.");
					return false;
				}

				return true;
			}

			function checkLength() {
				var textarea = document.getElementById('content');
				var lengthMessage = document.getElementById('lengthMessage');
				if (textarea.value.length > 105) {
					lengthMessage.textContent = "100자 이내로 작성해주세요.";
					document.getElementById('submitBtn').disabled = true;
				} else {
					lengthMessage.textContent = "";
					document.getElementById('submitBtn').disabled = false;
				}
			}

		</script>

	</div>
</body>

</html>